@model Course


<div class="card-body">

    <ul class="uk-switcher uk-margin" id="course-edit-tab">

        <li>
<div class="row">
    <div class="col-xl-9 m-auto">

                    <div asp-validation-summary="All"></div>


                    <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="title">
                Course title<span class="required">*</span>
            </label>
            <div class="col-md-9">
                <input type="text" asp-for="title" type="text" class="form-control" id="course_title"
                       placeholder="Enter course title">
                <span asp-validation-for="title" class="alert-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="price">
                Course Price<span class="required">*</span>
            </label>
            <div class="col-md-9">
                            <input type="text" asp-for="price" type="number" class="form-control" id="course_price"
                       placeholder="Enter course price">
                <span asp-validation-for="price" class="alert-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label class="col-md-3 col-form-label" asp-for="studentsEnrolled">
                Students Enrolled<span class="required">*</span>
            </label>
            <div class="col-md-9">
                            <input type="text" asp-for="studentsEnrolled" type="number" class="form-control" id="course_students_enrolled"
                       placeholder="Enter number of students">
                <span asp-validation-for="studentsEnrolled" class="alert-danger"></span>
            </div>
        </div>
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" asp-for="img">
                            Course Image<span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" asp-for="img" type="text" class="form-control" id="course_img"
                                   placeholder="Enter course Image URL">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" asp-for="Language">
                           Language<span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" asp-for="Language" type="text" class="form-control" id="course_Language"
                                   placeholder="Enter course Image URL">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" for="short_description">
                            Short
                            description
                        </label>
                        <div class="col-md-9">
                            <textarea asp-for="shortDescription" type="text" class="form-control" id="course_short_description"
                               placeholder="CSS is what makes the web beautiful. It describes how HTML should be displayed and how to layout elements. Take this class and get familiar with CSS!"
                                      class="form-control">
                              
                                  </textarea>
                        </div>



                    </div>


                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" for="course_title"> 
                            Category <span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <select class="selectpicker" asp-for="categories" class="form-control" id="course_categories">
                                <option data-icon="uil-android-alt" selected> MobileApp </option>
                                <option data-icon="uil-bag-alt">Business</option>
                                <option data-icon="uil-palette">Desings</option>
                                <option data-icon="uil-camera">Photography</option>
                                <option data-icon="uil-medkit">HealthFitness</option>
                            </select>
                        </div>
                    </div>



        <span asp-validation-for="img" class="alert-danger"></span>


    </div>
</div>
        </li>

<li>


<            div class="row">
                <div class="col-xl-10 m-auto">
                    <ul class="c-curriculum" uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">
                                <i class="uil-folder">
                                </i>Section titile 1
                            </a>
                            <div class="action-btn">
                                <a href="#"> <i class="uil-plus">  </i> Add Lacture </a>
                                <a href="#"> <i class="uil-plus">  </i> Add link </a>
                                <a href="#"> <i class="uil-plus">  </i>  Add quiz </a>
                            </div>
                            <div class="uk-accordion-content">
                                <ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">
                                <i class="uil-folder">
                                </i>Section titile 2
                            </a>
                            <div class="action-btn">
                                <a href="#"> <i class="uil-plus">  </i> Add Lacture </a>
                                <a href="#"> <i class="uil-plus">  </i> Add link </a>
                                <a href="#"> <i class="uil-plus">  </i>  Add quiz </a>
                            </div>
                            <div class="uk-accordion-content">
                                <ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">
                                <i class="uil-folder">
                                </i>Section titile 3
                            </a>
                            <div class="action-btn">
                                <a href="#"> <i class="uil-plus">  </i> Add Lacture </a>
                                <a href="#"> <i class="uil-plus">  </i> Add link </a>
                                <a href="#"> <i class="uil-plus">  </i>  Add quiz </a>
                            </div>
                            <div class="uk-accordion-content">
                                <ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">
                                <i class="uil-folder">
                                </i>Section titile 4
                            </a>
                            <div class="action-btn">
                                <a href="#"> <i class="uil-plus">  </i> Add Lacture </a>
                                <a href="#"> <i class="uil-plus">  </i> Add link </a>
                                <a href="#"> <i class="uil-plus">  </i>  Add quiz </a>
                            </div>
                            <div class="uk-accordion-content">
                                <ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sec-list-item">
                                            <div>
                                                <i class="uil-list-ul uk-sortable-handle"></i>
                                                <label class="mb-0 mx-2">
                                                    <input class="uk-checkbox" type="checkbox">
                                                </label>
                                                <p> Course Simple Content   </p>
                                            </div>
                                            <div>
                                                <div class="btn-act">
                                                    <a href="#">
                                                        <i class="uil-cloud-download"></i>
                                                    </a>
                                                    <a href="#"><i class="uil-eye"></i></a>
                                                    <a href="#"><i class="icon-feather-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>


                    </ul>
                

                </div>

        </li>

        <li>

            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" type="text" asp-for="metaKeywords" type="text" class="form-control" id="course_Meta_Keywords">
                            Meta
                            keywords
                        </label>
                        <div class="col-md-9">
                            <input class="form-control bootstrap-tag-input"
                                   asp-for="metaKeywords" type="text" class="form-control" id="course_Meta_Keywords"
                                   style="width: 100%; display: none;">
                            <div class="bootstrap-tagsinput">
                                <input size="1" type="text"
                                       placeholder="">
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-xl-9">
                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label" asp-for="metaDescription">
                            Meta
                            description
                        </label>
                        <div class="col-md-9">
                            <textarea asp-for="metaDescription" type="text" class="form-control" id="course_Meta_Description" class="form-control"></textarea>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>


        </li>

        <li>


            <script type="text/JavaScript">
                function createNewElement() {
                    // First create a DIV element.
                    var txtNewInputBox = document.createElement('div');

                    // Then add the content (a new input box) of the element.
                    txtNewInputBox.innerHTML = "<input type='text' class='uk-input'>";

                    // Finally put it where it is supposed to appear.
                    document.getElementById("newElementId").appendChild(txtNewInputBox);
                }
            </script>

            <div class="row justify-content-center">
                <div class="col-xl-9">

                    <button class="btn btn-default mb-3" onclick="createNewElement();">
                        <i class='uil-plus'></i> Requirements
                    </button>

                    <div id="newElementId"> </div>

                    <input type='text' class='uk-input'
                           placeholder="Any computer will work: Windows, macOS or Linux">
                    <input type='text' class='uk-input'
                           placeholder="Basic programming HTML and CSS.">
                    <input type='text' class='uk-input'
                           placeholder="Basic/Minimal understanding of JavaScript">
                </div>
            </div>
        </li>

        <li>

            <div class="row justify-content-center">

                <div class="col-xl-9">

                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">Course price ($)</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" placeholder="Enter  price">
                        </div>
                    </div>

                </div>

                <div class="col-xl-9">

                    <div class="form-group row mb-3">
                        <label class="col-md-3 col-form-label">
                            Discounted
                            price ($)
                        </label>
                        <div class="col-md-9">
                            <input class="form-control">
                            <small class="text-muted">
                                This course has <span class="text-danger">10%</span>
                            </small>
                        </div>
                    </div>

                </div>
            </div>


        </li>

        <li>

            <div class="row">
                <div class="col-12 my-lg-5">
                    <div class="text-center">
                        <h2 class="mt-0"><i class="icon-feather-check-circle text-success"></i></h2>
                        <h3 class="mt-0">Thank you !</h3>

                        <p class="w-75 mb-2 mx-auto"> Submit This Course For Reweiw  </p>

                        <div class="mb-3 mt-3">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>


        </li>

    </ul>

    <div class="row">
        <div class="col-12 my-lg-5">
            <div class="text-center">
                <div class="mb-3 mt-3">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div> <!-- end col -->
    </div>

</div>