@using CourseProject.Data.Entities;

@model Course

<!--
<form asp-action="SaveNew" >
    <div class="mb-3">
        <label asp-for="title" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="title">
    </div>
    <div class="mb-3">
        <label asp-for="price" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="price">
    </div>
    <div class="mb-3">
        <label asp-for="studentsEnrolled" class="form-label">Title</label>
        <input type="number" class="form-control" asp-for="studentsEnrolled">
    </div>
    <div class="mb-3">
        <label asp-for="img" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="img">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->



<div class="page-content">
    <div class="page-content-inner">

        <div class="d-flex">
            <nav id="breadcrumbs" class="mb-3">
                <ul>
                    <li><a href="#"> <i class="uil-home-alt"></i> </a></li>
                    <li><a href="#"> Course </a></li>
                    <li>Create New Course</li>
                </ul>
            </nav>
        </div>


      <form asp-action="SaveNew" >
               <div asp-validation-summary="All">  </div>
            <div class="card">
            <div class="card-header border-bottom-0 py-4">
                <h5> Add Course </h5>
            </div>


            <div class="card-body">


                        <div class="row">
                            <div class="col-xl-9 m-auto">



                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" asp-for="title">
                                    Course title<span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input  type="text" asp-for="title" type="text" class="form-control" id="course_title"
                                           placeholder="Enter course title"
                                           >
                                    <span asp-validation-for="title" class="alert-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" asp-for="price">
                                    Course Price<span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" asp-for="price" type="number" class="form-control" id="course_title"
                                           placeholder="Enter course price"
                                           >
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" asp-for="studentsEnrolled">
                                    Students Enrolled<span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" asp-for="studentsEnrolled" type="number" class="form-control" id="course_title"
                                           placeholder="Enter number of students"
                                           >
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label class="col-md-3 col-form-label" asp-for="img">
                                    Course Image<span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" asp-for="img" type="text" class="form-control" id="course_title"
                                           placeholder="Enter course Image URL"
                                           >
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>





                </div>

        </div>

        </form>




        <!-- footer
        ================================================== -->
        <div class="footer">
            <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-expand@s uk-first-column">
                    <p>© 2019 <strong>Courseplus</strong>. All Rights Reserved. </p>
                </div>
                <div class="uk-width-auto@s">
                    <nav class="footer-nav-icon">
                        <ul>
                            <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

</div>